= link_to('Create Plane', new_plane_path, :remote =>true, :id => 'create_plane', :class => 'button radius secondary')
#form

=form_tag "something", remote:true do
  =select_tag 'plane_select', options_from_collection_for_select(@planes,'id','name')

#planestuff
  =render :partial => 'showplane'