= link_to('New Flight', new_flight_path, :remote =>true, :id => 'create_flight', :class => 'button radius secondary')
#form
.row
  .columns.large-12
    #flightstuff
      =render :partial => 'showflight'