#index
  -if @auth.present? && (@auth.is_admin == true)
    =link_to('Add Flight', new_flight_path, :remote => true, :class => 'button secondary')
  #form
  .row
    .columns.large-12
      #flightstuff
        =render :partial => 'showflight'