
.row
  .large-5.columns
    = link_to('New Flight', new_flight_path, :remote =>true, :id => 'create_flight', :class => 'button radius secondary')
    #form
  .large-7.columns

.row
  .columns.large-12
    #flightstuff
      =render :partial => 'showflight'