.prow{
  /*border: 1px black solid;*/
}
.seat{
  width: 30px;
  height:30px;
  border: 1px black solid;
  border-radius: 40%;
  background-color: grey;
}

.inline{
  display: inline-block;
}

.empty, .filled{
  background-size: contain;
  width: 20px;
  height: 20px;
}

.empty{
  background-image: url('empty_seat.jpg');
  cursor: pointer;
}

.filled{
  background-image: url('filled_seat.jpg')
}