.prow{
  /*border: 1px black solid;*/
}
.pname{
  color: white;
  font-size: 2em;
  margin: 10px;
  margin-left: 400px;
  margin-bottom: 25px;
}
.seat{
  width: 20px;
  height:20px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.inline{
  display: inline-block;
}

.seat, .empty, .filled{
  background-size: contain;
  width: 20px;
  height: 20px;
}

.seat, .empty{
  background-image: url('empty_seat.jpg');
  cursor: pointer;
}

.filled{
  background-image: url('filled_seat.jpg')
}

.select_tag
{
  width: 400px;
  float: left;
  margin-left: 0;
}

.plane
{
  margin-right: 200px;
  float: right;
}

body
{
  background: url('jpl2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

/*.plane_info
{
  position: absolute;
}*/