<div class="row">
  <div class="large-3 columns">
    <%= image_tag 'Virgin_Galactic.png', :class => 'virgin_logo' %>
  </div>
  <div class="large-9 columns">
    <ul class="right button-group" class="nav_buttons">
    <%== login_nav %>
    </ul>
  </div>
</div>



